body{
  background-image: url(/Img/wallpaper.jpg);
  
}

header{
  background-color: rgba(39, 39, 39, 0.911);
  margin-top: 55px;
  margin-bottom: 20px;
}

.item{
  margin-left: 10px;

}

/*BOTONES NAVBAR*/
#button1, #button2 {
  background-color: #0050f0;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button1:hover, #button2:hover {
  background-color: #e2ceed;
  color: black;
}

/*LUPA BUSQUEDA*/
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

#search-input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
}

#search-btn {
  width: 40px;
  height: 40px;
  padding: 2px;
  font-size: 16px;
  border: none;
  background-color: #ccc;
  color: #333;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.logotipo{
  max-width: 100px;
  background: #fffafa;
}

/*CAROUSEL*/
.carousel-item img {
  max-width: 100%;
  height: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  padding-left: 1rem;
}  
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(50, 50, 50, 0.5);
  border: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
} 
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgb(0, 0, 0);
}

/*HOVER Y CARDS*/
.card-custom {
  width: 18rem !important;
  margin-left: 15px;
}

#carouselExample .card.card-custom {
  background-color: rgba(88, 88, 88, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#carouselExample .card.card-custom:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}


#carouselExample2 .card.card-custom {
  background-color: rgba(88, 88, 88, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#carouselExample2 .card.card-custom:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

#carouselExample3 .card.card-custom {
  background-color: rgba(88, 88, 88, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#carouselExample3 .card.card-custom:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

#carouselExample4 .card.card-custom {
  background-color: rgba(88, 88, 88, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#carouselExample4 .card.card-custom:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}




/*TEXTOS COLORES*/

#tittle{
  margin-left: 30px;
  font-size: 20px;
}
#tittle1{
  margin-left: 30px;
  font-size: 20px;
}
#tittle2{
  margin-left: 30px;
  font-size: 20px;
}
#tittle3{
  margin-left: 30px;
  font-size: 20px;
}
#tittle4{
  margin-left: 30px;
  font-size: 30px;
}
h1{
  font-family: 'Press Start 2P', cursive;
  text-shadow: #f80303 0.1em 0.1em 0.2em;
}
h2,h3{
  font-family: 'Press Start 2P', cursive;
  text-shadow: #e0f803 0.1em 0.1em 0.2em;
}

/*FOOTER*/
.footer {
  background-color: #151518;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.social-icon:hover {
  background-color: #fff !important;
  color: #b709e2 !important;
}
       
.social-icon:hover,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .btn:hover {
  background-color: #fff !important;
  color: #000 !important;
}
        
/*PRELOADER*/
.containerc {
  position: fixed;
  background-image: url(/Img/fondo.jpg);
  background-size: cover;
  background-position: center 90%;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  z-index: 100000;
  height: 100vh;
  display: flex; 
  top: 0;
  left: 0;
  font-family: 'Press Start 2P', cursive;

}

h2{
  color: white;
}

/* estilo de carga de la pagina */
.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  width: 0%; /* Inicialmente sin ancho (0%) */
  transition: width 2s ease-in-out; /* Transición suave de la barra de progreso */
}

.content {
  display: block;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 18px;
  padding: 20px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.containerc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preloader {
  text-align: center;
  color: #333;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  text-align: center;
  color: #333;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Cambiamos la duración de la transición a 0.5s */
}

.mario img {
  display: block;
  margin: 0 auto;
}


.loading-text {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

.cerrar {
  opacity: 0;
  pointer-events: none; 
}


.cerrar {
  transform: translateY(-100%);
  transition: 2s;
}

.preloader.hidden {
  display: none;
}